<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>

    <script src="https://kit.fontawesome.com/fa53e4fb73.js" crossorigin="anonymous"></script>
    <title>{% block page_title %}{% endblock page_title %} | 테스트</title>
</head>

<body class="bg-gray-100 w-[100vw] overflow-hidden">
    {% block content %}
    {% endblock %}
</body>
</html>